.Cartographie .back {
    position: absolute;
    left: 60px;
    top: 220px;
    width: 1800px;
    height: 690px;
    background-color: rgb(92, 20, 68);
    z-index: -1;
}

.Cartographie .Management h2 {
    position: absolute;
    top: 240px;
    left: 150px;
    color: black;
}

.Cartographie .Management .buttons {
    position: absolute;
    top: 240px;
    left: 110px;
    display: inline-block;
    padding-top: 20px;
    width: 1705px;
    height: 150px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #bdbcb5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Cartographie .Management .buttons .button {
    padding-top: 10px;
    padding-bottom: 90px;
    font-size: 19px;
    width: 350px;
    height: 100px;
    margin-left: 70px;
    margin-right: 70px;
    color: black;
    background-color: #fae363;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    text-decoration: none; /* Remove underline */
}

.Cartographie .Management .buttons .button:hover {
    background-color: #b3adad;
    color: rgb(255, 255, 255);
}

.Cartographie .BesoinClient .button {
    position: absolute;
    top: 395px;
    left: 90px;
    height: 290px;
    width: 200px;
    color: black;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 150px;
    background-color: #27691e;
    flex: 1;
    display: inline-block;
    text-decoration: none;
    border: 10px solid white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Cartographie .SatisfactionClient .button {
    position: absolute;
    top: 395px;
    right: 90px;
    height: 290px;
    width: 200px;
    color: black;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 150px;
    background-color: #27691e;
    flex: 1;
    display: inline-block;
    text-decoration: none;
    border: 10px solid white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Cartographie .SatisfactionClient .button:hover, .BesoinClient .button:hover {
    background-color: #b3adad;
    color: rgb(255, 255, 255);
}

.Cartographie .Realisation h2 {
    position: absolute;
    top: 400px;
    left: 350px;
    color: black;
}

.Cartographie .Realisation .buttons {
    display: flex;
    position: absolute;
    top: 395px;
    left: 320px;
    display: inline-block;
    padding-top: 70px;
    width: 1280px;
    height: 290px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #666;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Cartographie .Realisation .buttons .button {
    width: 390px;
    padding-top: 10px;
    padding-bottom: 90px;
    font-size: 20px;
    height: 190px;
    color: black;
    background-color: #571e69;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; /* Adjust spacing between buttons */
    text-decoration: none; /* Remove underline */
}

.Cartographie .Realisation .buttons .button:hover {
    background-color: #571e69;
    color: rgb(255, 255, 255);
}

.Cartographie .Support h2 {
    position: absolute;
    top: 690px;
    left: 150px;
    color: black;
}

.Cartographie .Support .buttons {
    display: flex;
    flex: 1 0 auto;
    position: absolute;
    top: 690px;
    left: 110px;
    display: inline-block;
    padding-top: 35px;
    width: 1705px;
    height: 180px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #666;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Cartographie .Support .buttons .button {
    width: 350px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 16px;
    height: 100px;
    background-color: #2e2bca;
    color: black;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; /* Adjust spacing between buttons */
    text-decoration: none; /* Remove underline */
}

.Cartographie .Support .buttons .button:hover {
    background-color: #b3adad;
    color: rgb(255, 255, 255);
}
