.Registerform {
    width: 120%;
    top: 50px;
    padding-top: 90px;
    padding-bottom: 20px;
    padding-right: 150px;
    padding-left: 180px;
}

.Registerform h1{
    font-size: 350%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.Registerform h3 ul a {
    position: relative;
    right: 170px;
    top: 20px;
    display: inline-block;
    padding: 10px 20px;
    width: 50%; /* Adjust width as needed */
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid #666;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Registerform h3 ul a:hover {
    background-color: rgb(200, 28, 44);
    color: rgb(255, 255, 255);
}


.Registerform .wrapper .input-box{
    position:  relative;
    width: 100%;
    height: 50%;
    margin: 3% 0;
}


.Registerform input{
    font-size: 120%;
    position: relative;
    right: 50px;
    width: 120%;
    height: 80%;
    background-color:rgb(175, 174, 174);
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.Registerform input::placeholder{
    color: rgb(102, 94, 94) ;
}

.Registerform icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.Registerform .wrapper button {
    position: relative;
    font-size: 140%;
    right: 60px;
    width: 140px;
    height: 50px;
    text-align: center;
    background-color:rgb(200, 28, 44);
    color: white;
    border-radius: 40px;

}

@media (max-width: 768px) {
    .wrapper .h1{
        font-size: 150%;
        left: 20%;
    }
  }